[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PSIM"]
	path = PSIM
	url = https://github.com/luana1909/psim
[submodule "markowitz"]
	path = markowitz
	url = https://github.com/luana1909/markowitiz
